@import url('https://fonts.googleapis.com/css?family=Josefin+Slab:600,700');

/* Standard page settings */
body, html{
    margin: 0;
    font-family: 'Josefin Slab';
    font-weight: 600;
    background-color:rgb(243, 243, 243);
    scroll-behavior: smooth;
}

/* Nav bar START */
nav{
    position: sticky;
    top: 0;
    font-family: Arial;
    font-size: 1em;
    z-index: 99;
}

/* Nav bar animation START */
@keyframes slide-in-top {
    0% {
        -webkit-transform: translateY(-1000px);
                transform: translateY(-1000px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0);
                transform: translateY(0);
        opacity: 1;
    }
}
@keyframes rotate-on-hover {
    100% {
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
                transform: scale(1.2, 1.2);
    }
}
/*Nav bar animation END  */

/* Nav bar alignment settings START*/
.menu-content{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    animation: slide-in-top 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.menu-content a{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-decoration: none;
    color: rgb(61, 61, 61);
    width: 25%;
    text-align: center;
    font-size: 0.8em;
}
/* Nav bar alignment settings END */

.navbar{
    height: 4vh;
    background-color: #f7f7f7;
    border-bottom: 1px solid rgb(33, 140, 190);
}
.navbar:hover{
    background-color:rgb(33, 140, 190);
    color: white;
}
/* Nav bar END */

p{
    font-size: 2em;
}
h1{
    font-family: 'Josefin Slab';
    font-weight: 600;
}

/* Hero section START */
.hero{
    margin: 1em;
    height: 90vh;
    background-image: url("images/herobg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    border-bottom: solid 10px rgb(14, 124, 175);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.hero p{
    margin: 0;
    text-align: center;
    color: rgb(95, 95, 95);
    padding-top: 2em;
    font-size: 5em;
}
/* Hero section END */

/* About me section START */
#quote {
    text-align: center;
}
#quote p strong{
    font-size: 2em;
}
#quote img{
    height: 400px;
}
/* About container START */
.about {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    background-color: #f7f7f7;
    margin: 1em;
    margin-top: 2em;
    justify-items: center;
    font-size: 1em;
    border-bottom: solid 10px rgb(14, 124, 175);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/* About container END */

/* Standard grid settings*/
.aboutsection{
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 2fr 2fr 1fr;
    margin-top: 1em;
    height: 22em;
    width: 40em;
    background-color: white;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* Development settings */
#development{
    display: grid;
    grid-template-rows: 1fr 5fr 3fr 1fr 4fr 2fr 1fr;
    border-bottom: solid 8px rgb(221, 74, 135);
    transform:rotate(-3deg);
}

/* Education settings */
#education{
    grid-template-rows: 1fr 5fr 3fr 1fr 2fr 4fr 1fr;
    border-bottom: solid 8px rgb(230, 141, 7);
    transform: rotate(7deg);
}

/* h2 settings for about section */
.aboutsection h2{
    grid-area: 3 / 1 / 4 / 7;
    font-size: 1.5em;
    text-align: center;
    margin-top: 0;
    align-self: center;
    margin-bottom: 0;
    background-color:rgb(221, 74, 135);
    padding: 0.5em;
    color: white;  
}

/* Hover effect for development and education */
#development:hover, #education:hover{
    animation: rotate-on-hover 1s;
    /* transform:rotate(0deg); */
    transform: scale(1.2, 1.2);
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    z-index: 98;
}
#development:hover .pushpin, #education:hover .pushpin{
    display: none;
}

/* Education colour */
#education h2{
    background-color: rgb(230, 141, 7);
}

/* Main icons for development and education sections */
#devicon, #eduicon{
    grid-area: 2 / 3 / 3 / 5;
    height: 6em;
    align-self: center;
    justify-self: center;
}
#eduicon{
    height: 5.5em;
}

/* Pushpin settings */
.pushpin{
    grid-area: 1 / 3 / 2 / 5;
    height: 2em;
    align-self: end;
    justify-self: center;
    margin-bottom: 0.5em;
    transform: rotate(-7deg);
}
#education .pushpin{
    transform: rotate(-55deg);
}

/* Development coding language icon settings START */
.codeicon{
    grid-row: 5 / 6;
    height: 4.5em;
    padding-top: 1em;
    align-self: center;
    justify-self: center;
}
#rubyicon{
    grid-column: 2 / 3;
}
#htmlicon{
    grid-column: 5 / 6;
}
#cssicon{
    grid-column: 3 / 4;
}
#bootstrapicon{
    grid-column: 4 / 5;
}
/* Development coding language icon settings END */

/* Text for each development language settings START */
.codetitle{
    grid-row: 6 / 7;
    margin: 0;
    align-self: center;
    text-align: center;
}
#ruby{
    grid-column: 2 / 3;
}
#html{
    grid-column: 5 / 6;
}
#css{
    grid-column: 3 / 4;
}

#bootstrap{
    grid-column: 4 / 5;
}
/* Text for each development language settings END */

/* Education section START */
.edutitle{
    grid-row: 5 / 6;
    justify-self: end;
    text-align: center;
    margin: 0;
    width: 90%;
}

/* Marcellin column setting */
#marcellin{
    grid-column: 2 / 4;
    justify-self: start;
}

/* Coder academy column setting */
#coder{
    grid-column: 4 / 6;
}

/* Standard Marcellin & coder paragraph settings */
.edupara{
    font-size: 1em;
    grid-row: 6 / 7;
    margin: 0;
    text-align: center;
    width: 90%;  
}

/* Marcellin paragraph */
#marcellinabout{
    grid-column: 2 / 4;
    justify-self: start;
}

/* Coder Academy paragraph */
#coderabout{
    grid-column: 4 / 6;
    justify-self: end;
}
/* Education section END */

/* Project section START*/
/* Container START */
.work{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 9fr 8fr;
    height:95em;
    background-color: #f7f7f7;
    margin: 5em 1em 1em 1em;
    padding-bottom: 5em;
    justify-items: center;
    font-size: 1em;
    border-bottom: solid 10px rgb(14, 124, 175);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.work h1{
    grid-column: 1 / 3;
    font-size: 3em;
    text-align: center;
    margin-bottom: 1em;
    background-color: rgb(14, 124, 175);
    width: 100%;
    color: white;
    height: 1.25em;
    margin-top: 0;
}
/* Container END */

/* Standard project class START */
.projects{
    display: grid;
    /* grid-template-columns: 1fr; */
    margin-top: 1em;
    /* height: 100%; */
    width: 80%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.projects h1{
    grid-row: 2 / 3;
    margin: 0;
    font-size: 2em;
    width: 100%;
    height: 1.25em;
    justify-self: center;
    padding-top: 0.3em;
    color: white;
    font-weight: 700;
}
.projects p{
    grid-row: 3 / 4;
    font-size: 1.3em;
    margin: 0.5em 1em 0 1em;
    text-align: center;
    justify-self: center;
    width: 100%;
}
.image1{
    grid-row: 4 / 5;
    width: 90%;
    justify-self: center;
}
.image2{
    grid-row: 5 / 6;
    width: 90%;
    justify-self: center;
}
.button{
    grid-row: 6 / 7;
    background-color: #f7f7f7;
    color: rgb(61, 61, 61);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    margin: 0.5em;
    width: 3em;
    justify-self: center;
    align-self: center;
    font-size: 2em;
    font-weight: 400;
}
.button:hover{
    background-color:rgb(37, 149, 201);
    color: white;
}
/* Standard project class END */

/* Project class push pin */
.projects .pushpin{
    grid-area: 1 / 1 / 2 / 2;
    padding-bottom: 1em;
    height: 2.5em;
    /* margin-bottom: 1em; */
}
.projects:hover .pushpin{
    display: none;
}
/* Make project straight and zoomed slightly on hover */
#project1:hover, #project2:hover, #project3:hover, #project4:hover{
    transform:rotate(0deg);
    transform:scale(1.1, 1.1);
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    z-index: 98;
}
/* Project 1 START */
#project1 {
    grid-column: 1 / 2;
    border-bottom: solid 8px rgb(4, 192, 76);
    transform:rotate(3deg);
    height: 40em;
}
#project1 .pushpin{
    transform: rotate(-65deg);
}
#project1 h1{
    background-color: rgb(4, 192, 76);
}
/* Project 1 END */

/* Project 2 START */
#project2 {
    grid-column: 2 / 3;
    border-bottom: solid 8px rgb(121, 27, 245);
    transform:rotate(13deg);
    height: 47em;
}
#project2 .pushpin{
    transform: rotate(-15deg);
    /* height: 150%; */
}
#project2 h1{
    background-color: rgb(121, 27, 245);
}
/* Project 2 END */

/* Project 3 START */
#project3 {
    grid-area: 3 / 1 / 4 / 2;
    border-bottom: solid 8px rgb(29, 143, 137);
    transform:rotate(-13deg);
    height: 40em;
}
#project3 h1{
    background-color: rgb(29, 143, 137);
}
#project3 .pushpin{
    transform: rotate(-45deg);
    /* height: 150%; */
}
/* Project 3 END */

/* Project 4 START */
#project4 {
    grid-area: 3 / 2 / 4 / 3;
    border-bottom: solid 8px rgb(240, 73, 8);
    transform:rotate(-3deg);
    height: 42em;
}
#project4 .pushpin{
    transform: rotate(-20deg);
    /* height: 150%; */
}
#project4 h1{
    background-color: rgb(240, 73, 8);  
}
/* Project 4 END */
/* Project section END */

/* Social section */
#social{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    /* grid-auto-flow: row; */
    background-color: #f7f7f7;
    margin: 1em;
    margin-top: 2em;
    justify-items: center;
    font-size: 1em;
    border-bottom: solid 10px rgb(14, 124, 175);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#social h1{
    grid-column: 1 / 7;
    font-size: 2.5em;
    width: 100%;
    margin: 0;
    margin-bottom: 0.5em;
    background-color: rgb(14, 124, 175);
    color: white;
    text-align: center;
}
.socialicon{
    height: 6em;
}
.sociallink{
    grid-row: 2 / 3;
    height: 6em;
    margin: 1em 0;
}
#emaillink{
    grid-column: 2 / 3;
}
#linkedlink{
    grid-column: 3 / 4;
}
#gitlink{
    grid-column: 4 / 5;
}
#twitterlink{
    grid-column: 5 / 6;
}

/* Responsive */ 
@media(max-width: 1500px){
    .work{
        height: 90em;
    }
    #project1{
        height: 35em;
    }
    #project2{
        height: 45em;
    }
    #project3{
        height: 35em;
    }
    #project4{
        height: 35em;
    }
}
@media(max-width: 1300px){
    #development, #education{
        width: 80%;
    }
    .work{
        height: 77em;
    }
    #project1{
        height: 32em;
    }
    #project2{
        height: 40em;
    }
    #project3{
        height: 32em;
    }
    #project4{
        height: 32em;
    }
    .button{
        font-size: 1.5em;
    }
    #project1:hover, #project2:hover, #project3:hover, #project4:hover{
        transform: scale(1.3, 1.3);
    }
}
@media(max-width: 1200px){
    .aboutsection{
        width: 90%;
    }
    #education p{
        font-size: 0.9em;
    }
}
@media(max-width: 1100px){
    #quote{
        font-size: 0.75em;
    }
    .about{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr; 
    }
    #development{
        grid-area: 1 / 1 / 2 / 3;
        width: 60%
    }
    #education{
        grid-area: 2 / 1 / 3 / 3;
        width: 60%;
    }
    #devicon{
        /* height: 100%; */
        margin: 0;
    }
    h1{
        font-size: 0.5em;
    }
    .work{
        height: 195em;
        grid-template-rows: 1fr 7fr 7fr 7fr 7fr;
    }
    .work h1{
        margin-bottom: 0.5em;
    }
    #project1{
        grid-area: 2 / 1 / 3 / 3;
        height: 45em;
    }
    #project2{
        grid-area: 3 / 1 / 4 / 3;
        height: 51em;
    }
    #project3{
        grid-area: 4 / 1 / 5 / 3;
        height: 45em;
    }
    #project4{
        grid-area: 5 / 1 / 6 / 3;
        height: 45em;
    }
    #project1:hover, #project2:hover, #project3:hover, #project4:hover{
        transform: scale(1.1, 1.1);
    }
}
@media(max-width: 800px){
    .work{
        height: 156em;
    }
    #project1{
        height: 35em;
    }
    #project2{
        height: 43em;
    }
    #project3{
        height: 35em;
    }
    #project4{
        height: 35em;
    }
    .projects .pushpin{
        height: 1.75em;
    }
    #project2 .pushpin, #project3 .pushpin, #project4 .pushpin{
        
    }
}
@media(max-width: 650px){
    .about{
        height: 50em;
    }
    .work{
        height: 145em;
    }
    .work h1{
        margin-bottom: 0.25em;
    }
    #project1{
        height: 32em;
    }
    #project2{
        height: 41em;
    }
    #project3{
        height: 32em;
    }
    #project4{
        height: 32em;
    }
    #social img{
        height: 5em;
    }
    .button{
        font-size: 1.2em;
    }
    #education{
        width: 80%;
    }
    #development{
        width: 80%;
    }
}
@media(max-width: 500px){
    .about{
        height: 50em;
    }
    #social h1{
        margin-bottom: 0;
    }
    #social{
        height: 10em;
    }
    #social img{
        height: 4em;
    }  
    .work{
        height: 115em;
    } 
    #project1{
        height: 26em;
    }
    #project2{
        height: 32em;
    }
    #project3{
        height: 26em;
    }
    #project4{
        height: 26em;
    }
    .projects p{
        font-size: 1em;
    }
    #education{
        width: 90%;
        transform: rotate(4deg);
        height: 25em;
    }
    #development{
        width: 90%;
    }
    .aboutsection h3{
        font-size: 1em;
    }
    .button{
        font-size: 1em;
    }
}
@media(max-width: 400px){
    .work{
        height: 100em;
    }
    #project1{
        height: 22em;
    }
    #project2{
        height: 28em;
    }
    #project3{
        height: 22em;
    }
    #project4{
        height: 22em;
    }
    #education h3{
        font-size: 0.9em;
    }
    #eduicon{
        /* height: 60%; */
    }
    #social img{
        height: 3em;
    } 
    #quote img{
        height: 200px;
    }
    #education h3, #development h3{
        font-size: 0.75em;
    }
    .projects h1{
        font-size: 1em;
    }
    #social{
        height: 8em;
    }
    .codeicon{
        height: 3em;
    }
}