@import url('https://fonts.googleapis.com/css?family=Abril+Fatface');
@import url('https://fonts.googleapis.com/css?family=Josefin+Slab:600');

body, html{
    margin: 0;
    font-family: 'Josefin Slab';
    font-weight: 600;
}
nav{
    position: sticky;
    top: 0;
    font-family: Arial;
    font-size: 1em;
    z-index: 99;
}

p{
    font-size: 2em;
}
h1{
    font-family: 'Josefin Slab';
    font-weight: 600;
}
  @keyframes slide-in-top {
    0% {
      -webkit-transform: translateY(-1000px);
              transform: translateY(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }
  
.menu-content{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    animation: slide-in-top 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    /* animation: bounce-in-top 1.1s both; */
}

.menu-content a{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-decoration: none;
    color: rgb(61, 61, 61);
    width: 25%;
    text-align: center;
    font-size: 0.8em;
}

#Home{
    height: 4vh;
    background-color: rgb(14, 124, 175);
    color: white;
}
#Home:hover{
    background-color:rgb(33, 141, 190);
    color: white;
}
#About{
    height: 4vh;
    background-color: #f7f7f7;
}
#About:hover {
    background-color: rgb(14, 124, 175);
    color: white;
}
#Work {
    height: 4vh;
    background-color: #f7f7f7;
}
#Work:hover{
    background-color: rgb(14, 124, 175);
    color: white;
}
#Social {
    height: 4vh;
    background-color: #f7f7f7;
}
#Social:hover {
    background-color: rgb(14, 124, 175);
    color: white;
}
#Contact {
    height: 4vh;
    background-color: #f7f7f7;
}
#Contact:hover {
    background-color: rgb(14, 124, 175);
    color: white;
}  

.hero{
    margin: 1em;
    height: 90vh;
    background-image: url("blake4.jpg");
    /* height: 100%; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: solid 10px rgb(14, 124, 175);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.hero p{
    margin: 0;
    text-align: center;
    color: rgb(95, 95, 95);
    padding-top: 2em;
    font-size: 3em;
}
/* .carousel{
    padding-top: 1em;
    height: 100vh;
 
}
.carousel p{
    position: absolute;
    top: 10vh;
    left: 15%;
    color: black;
    background-color: rgba(255, 255, 255, 0.425);
    font-size: 5em;
}
.slides {
    max-height: 960px;
    max-width: 960px;
    margin: auto;
/* animation: slide-in-right 6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both; */
/* }  */

.squares {
    display: grid;
    grid-template-columns: 5% 45% 45% 5%;
    grid-column: 1 / 4;
    background-color: #f7f7f7;
    width: 90%;
    margin: auto;
    justify-items: center;
    height: 10em;
    font-size: 1em;
}
#bouldering{
    margin-top: 1em;
    width: 90%;
    grid-column: 2 / 3;
    background-color: #ffffff;
    border-bottom: solid 5px rgb(14, 175, 54);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
#cooking{
    margin-top: 1em;
    width: 90%;
    grid-column: 3 / 4;
    background-color: #ffffff;
    border-bottom: solid 5px rgb(175, 14, 22);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
/* #travelling{
    width: 70%;
    grid-column: 4 / 5;
    background-color: green;
    border-radius: 10%;
}s
#startups{
    width: 70%;
    grid-column: 5 / 6;
    background-color: pink;
    border-radius: 10%;
} */
#about p{
    text-align: center;
}